body {
    margin: 0;
    font-family: Arial;
    background-color: lightgray;
    color: black;
    padding-top: 80px;
}

.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: darkblue;
    text-align: center;
    line-height: 80px;

}

.navbar a {
    color: lightblue;
    text-decoration: none;
    font-weight: bold;
    margin: 200px;
    font-size: 40px;
}

.home-main {
    height: 600px;
    background-color: lightgray;
    text-align: center;
    padding-top: 100px;
}

.content-page {
    height: 600px;
    background-color: lightgray;
    text-align: center;
    padding-top: 100px;
}

.products-row {
    text-align: center;
}

.product-card {
    display: inline-block;
    height: 420px;
    width: 300px;
    margin: 10px;
    padding: 16px;
    border: 1px solid black;
    background-color: lightgray;
    vertical-align: top;
}